.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: static;

  a {
    margin: 0;
    padding: 0;

    p {
      transition: 0.5s ease-in-out;
    }

    p:nth-child(2) {
      opacity: 0;
      font-family: $font-text;
      font-size: 14px;
      font-weight: $font-light;
      text-transform: initial;
      top: 100px;
    }

    &:hover {
      p:nth-child(1) {
        transform: translate(-50%, -20px);
      }

      p:nth-child(2) {
        opacity: 1;
        transform: translate(-50%, -40px);
      }
    }
  }

  a:last-child {
    color: $color-main;
    margin: 24px 0 0;
  }
}

.homepage-button {
  position: relative;
  height: ($base-size * 10);
  border-radius: 4px;

  p {
    position: absolute;
    z-index: 1;
    font-family: $font-header;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
    top: $base-size;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.button-small {
  width: 299px; // ($base-size * 25) - unfortunately is not "pixel perfect"
}

.button-big {
  margin-top: 6px;
  width: 604px; // ($base-size * 50) - unfortunately is not "pixel perfect"
  border-radius: 4px;
  background: $color-main;

  p:first-of-type {
    top: 1px;
  }

  p:last-of-type {
    top: 57px;
    font-family: $font-text;
    font-size: 14px;
    color: $color-light;
  }
}

.button-square {
  width: 193px;
  height: 193px;
  margin: 12px 0 auto;
  background-color: rgba(0, 0, 0, 1);


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: transparent;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .overlay {
    opacity: 0.5;
  }

  img {
    position: absolute;
  }

  p {
    display: none;
    padding: 48px 61px;
    position: absolute;
    font-size: 22px;
  }

  &:hover p {
    display: flex;
  }

  i {
    color: $color-light;
    padding: 8px;

    &:hover {
      color: $color-main;
    }
  }
}

.carousel {
  width: 604px;
  min-height: 193px;
  margin: 48px 0 31px;

  .carousel-cell {
    width: 100%;
    transition: opacity 0.1s ease-in-out;
  }

  .flickity-page-dots {
    bottom: 36px;
  }
}

.opinion-card {
  position: relative;
  display: flex;
  min-height: 193px;
  margin: ($base-size * 3.5) auto;

  .opinion-image {
    min-width: 193px;
    min-height: 193px;

    img {
      position: relative;
    }
  }

  .opinion-text {
    padding-left: 37px;
    min-height: 230px;
    margin: ($base-size * 1.5) 3px auto;

    p {
      line-height: 22px;
    }

    p:last-of-type {
      font-style: italic;
      margin-top: 25px;
      letter-spacing: 0.1px;
    }
  }
}
